<%- include('partials/header.ejs') %>
<div class="index-header">
    <h3><a href="/">X</a></h3>
  </div>
<div class="index-container">
<div class="search-ad-result">
 <% city.forEach(a => { %>
     <ul>
         <li><strong>Full Name: </strong><%= a.detailedName %> </li>
         <li><strong>Address: </strong><%= a.name %> <%= a.subtype %> <%= a.address.cityName %>, <%= a.address.stateCode %>, <%= a.address.countryName %></li>
         <li><strong>Map Address: </strong> Longitude: <%= a.geoCode.latitude %>, Longitude: <%= a.geoCode.longitude %></li>
     </ul>
    <% }) %>
</div>
</div>
